@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  --background: #cfcfe8;
  --foreground: #313178;
  --card: #ffffff;
  --card-foreground: #313178;
  --popover: #ffffff;
  --popover-foreground: #313178;
  --primary: #4e4e94;
  --primary-foreground: #ffffff;
  --secondary: #7474b0;
  --secondary-foreground: #ffffff;
  --muted: #a1a1ce;
  --muted-foreground: #4e4e94;
  --accent: #a1a1ce;
  --accent-foreground: #313178;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: #7474b0;
  --input: transparent;
  --input-background: #cfcfe8;
  --switch-background: #a1a1ce;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: #7474b0;
  --chart-1: #4e4e94;
  --chart-2: #7474b0;
  --chart-3: #a1a1ce;
  --chart-4: #cfcfe8;
  --chart-5: #313178;
  --radius: 0.625rem;
  --sidebar: #cfcfe8;
  --sidebar-foreground: #313178;
  --sidebar-primary: #4e4e94;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #a1a1ce;
  --sidebar-accent-foreground: #313178;
  --sidebar-border: #7474b0;
  --sidebar-ring: #7474b0;
}


.dark {
  --background: var(--color-dark-blue);
  --foreground: var(--color-lavender);
  --card: var(--color-indigo);
  --card-foreground: var(--color-lavender);
  --popover: var(--color-indigo);
  --popover-foreground: var(--color-lavender);
  --primary: var(--color-light-purple);
  --primary-foreground: var(--color-dark-blue);
  --secondary: var(--color-purple-blue);
  --secondary-foreground: var(--color-white);
  --muted: var(--color-purple-blue);
  --muted-foreground: var(--color-light-purple);
  --accent: var(--color-purple-blue);
  --accent-foreground: var(--color-white);
  --destructive: #ef4444;
  --destructive-foreground: var(--color-white);
  --border: var(--color-purple-blue);
  --input: var(--color-purple-blue);
  --ring: var(--color-light-purple);

  --sidebar: var(--color-indigo);
  --sidebar-foreground: var(--color-lavender);
  --sidebar-primary: var(--color-light-purple);
  --sidebar-primary-foreground: var(--color-dark-blue);
  --sidebar-accent: var(--color-purple-blue);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-purple-blue);
  --sidebar-ring: var(--color-light-purple);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-switch-background: var(--switch-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h3 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h4 {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    p {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    button {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    input {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
}

html {
  font-size: var(--font-size);
}